mixinSection()

	.section
		> .container
			padding-top $containerOffsetVerticalMobile
			padding-bottom @padding-top

	.container
		position relative
		height inherit
		margin 0 auto
		padding-left $containerOffsetHorizontalMobile
		padding-right @padding-left


	@media $desktop
		.section
			> .container
				padding-top $containerOffsetVertical
				padding-bottom @padding-top

		.container
			width $containerWidth
			padding-left $containerOffsetHorizontal
			padding-right @padding-left




mixinSection()
