//- container
mixin container(data = {})
	-
		const {
			mod = ''
		} = data;
	.container(class=mod)
		block

//- section
mixin section(data = {})
	-
		const {
			mod = '',
			containerMod = ''
		} = data;

	section.section(class=mod)&attributes(attributes)
		+container({mod: containerMod})
			block



