//- pageTitle: Карта сайта
//- pageCategory: hidden
//- date: 12.12.2018
//- status: service-done

extends ../layouts/layout.pug

append vars
	-
		setDefs({
			pageTitle: 'Карта сайта',
			menuActiveIndex: 1
		})

block content
	+section()
		-
			const pages = __pages.sort((a = {date:null}, b = {date:null}) => {
				let {
					date : dateA = '0'
				} = a;

				let {
					date: dateB = '0'
				} = b
				return dateA.split('.').join("") - dateB.split('.').join("");
			})
			let waitCount = 0;
			let wipCount = 0;
			let doneCount = 0;
			let serviceCount = 0;
			let categories = {}

			pages.forEach((page, index) => {
				switch(page.status) {
					case 'wip':
						wipCount++;
					break;
					case 'wait':
						waitCount++;
					break;
					case 'done':
						doneCount++;
					break;
					case 'service-wip':
					case 'service-done':
						serviceCount++;
					break;
				}

				if (categories[page.category] === undefined) {
					categories[page.category] = [];
				};
				categories[page.category].push(page);

			});

			const categoriesArray = Object.keys(categories);




		.table-of-contents
			h1= `${DEFS.pageTitle} | ${SITE_TITLE} `

			.contents-wrapper
				- for(let index = 0; index < categoriesArray.length; index++)
					if categoriesArray[index] !== 'hidden'
						if categoriesArray[index] !== 'null'
							h2= categoriesArray[index]
						.contents-row
							each page, i in categories[categoriesArray[index]]
								.contents-col!= i + 1
								.contents-col
									a(href=page.href)!= page.title !== undefined && page.title !== 'null' ? page.title : page.name
								.contents-col
									div!= page.date !== 'null' ? page.date : ''
								.contents-col(class=`${page.status !== 'null' ? page.status : ''}`)
									div!= page.status !== 'null' ? page.status : ''


			.legend
				.status
					.done Готово (#{doneCount})
					.wip В разработке (#{wipCount})
					.wait Ожидает (#{waitCount})
					.all Всего (#{pages.length - serviceCount})
					.all Осталось (#{pages.length - doneCount - serviceCount})
					.all UI (#{serviceCount})
