//- pageTitle: Главная
//- pageCategory: Страницы
//- date: 12.12.2018
//- status: wait

extends ../layouts/layout.pug

append vars
	-
		setDefs({
			pageTitle: 'Главная',
			menuActiveIndex: 0
		})

block content
	+section()
		h1 Главная страница
