//- pageTitle: Компоненты
//- pageCategory: UI
//- date: 12.12.2019
//- status: wip

extends ../layouts/layout.pug

append vars
	-
		setDefs({
			pageTitle: 'UI',
			menuActiveIndex: 2,
			pageClass: 'page--ui'
		})

block content
	+section()
		h1.title UI
		.row
			.col
				.bg 50%
			.col
				.bg 50%
			.w-100
			.col-1
				.bg 1
			.col-11
				.bg 11
			.col-2
				.bg 2
			.col-10
				.bg 10
			.col-3
				.bg 3
			.col-9
				.bg 9
	+section()
		h2 typo
	+section()
		h2 text
	+section()
		h2 form
