.row

	$gapX = $gapX / 2

	display flex
	flex-wrap wrap

	&.ai-c
		align-items center
	&.ai-b
		align-items flex-end
	&.jc-sb
		justify-content space-between
	&.jc-c
		justify-content center
	&.jc-fe
		justify-content flex-end

	> .col
		flex-grow 1
		flex-basis 0

	>[class^=col]
		min-height 1px

	for $i in (1..$cols)
		$colWidth = 100% / $cols * $i
		> .col-{$i}
			flex 0 0 $colWidth
			max-width $colWidth

	.w-100
		width 100% !important


	@media $tabletDesktop
		margin 0 (- $gapX) (- $gapY)
		>[class^=col]
			padding '0 %s' % ($gapX)
			margin '0 0 %s' % ($gapY)


	@media $mobile
		margin-bottom (- $gapMobile)
		>[class^=col]
			max-width 100%
			flex 0 0 100%
			margin-bottom $gapMobile




