// Mixins.
font-face($font-name, $file-path, $weight = 'normal', $style = 'normal')

	$url  = 'url("' + $file-path + '.woff2") format("woff2"), '
	$url = $url + 'url("' + $file-path + '.woff") format("woff")'

	@font-face
		font-family $font-name
		src unquote($url)
		font-weight unquote($weight)
		font-style unquote($style)

m-cf()
	&:before, &:after
		display table
		content ""

	&:after
		clear both

	.lt-ie8 &
		zoom 1


mix-color(color)
	mix(#000, color, 50%)


animIn(duration)
		transition all duration ease

bgi()
		background-position 50% 50%
		background-size cover
		background-repeat no-repeat


