

.page--ui
	// [class^=col]
	// 	padding-top 0.5rem
	// 	padding-bottom 0.5rem


	.color
		$size = 10rem
		min-width $size
		height $size
		display: inline-block
		margin 0.5rem
		padding 1rem
		border 1px solid #0AE734
		> span
			display: block
			margin-top 0.5rem



	.bg
		background #d5d5d5
		text-align center
		padding 1rem 0
		border-radius 5px
		&_white
			background-color white
		&_red
			background red
		&_gray
			background-color #DCDBD5
		&_green
			background #64FFDA //- green
		&_yellow
			background #FFFF8D //- yellow


	.bg_container
		background-color #36444C
		padding 1rem
		margin 1rem -1rem



	.title
		background-color #64FFDA
		display: inline-block
		padding 0.6rem 1rem
		margin-bottom 2rem
		margin-left -1rem

	.carousel_item
		width 100%
		min-height 10rem
		padding 1rem
		background-color #D8D8D8

