mixinFooter()

	$footerHeight = 11rem
	$footerHeightTablet = 8rem
	$footerHeightMobile = 5rem

	.footer
		background $black
		padding 4rem 0
		color $white
		box-sizing border-box

		.container
			height auto

		a
			color $white
			transition color 200ms ease-out

		.menu
			&_nav
				display flex
				li
					margin 0 2rem 0 0
					text-transform uppercase
		.copyright
			.agreement
				display block
				margin 1rem 0 0 0
		.create
			text-align right
			svg
				display inline-block
				width 10.5rem
				height 1.4rem
				transition color 200ms ease-out
				vertical-align top
				margin-top .1rem

	@media $desktop
		.footer
			min-height $footerHeight

			a
				&:hover
					color $gray

			.create
				a
					color $white
					&:hover
						svg
							color #F20080

	@media $tablet
		.footer
			.copyright
			.create
				margin 3rem 0 0 0

	@media $mobile
		.footer
			.copyright
			.create
				margin 2rem 0 0 0

mixinFooter()
