mixin footer(data= {})
	-
		// Globals: COMPANY_NAME, DEFS, MENU

		const {
			menuActiveIndex
		} = DEFS;

		const {
			mod = ''
		} = data;

	footer.footer(class=mod)
		+container()
			.row
				.col-4
					nav.menu
						ul.menu_nav
							each menuItem, index in MENU
								if menuItem.isInFooter
									li(class= index === menuActiveIndex ? 'active' : '' class=menuItem.mod)
										a(href=menuItem.href )!= menuItem.title
				.col-4
					.copyright
						.copy!=`© 2018 ${COMPANY_NAME}`
						a.agreement(href="#") Политика конфиденциальности
				.col-4
					.create
						a(href="http://elpycode.ru" target="_blank") Сайт сделал –
							+svg({iconName: 'elpycode'})
