-
	const SITE_TITLE = 'Zero';
	const COMPANY_NAME = 'ΞLPYCODΞ';
	const DEFS = {
		pageTitle: '',
		pageClass: '',
		menuActiveIndex: -1,
		menuProfileActiveIndex: -1,
		breadcrumbs: [],
		keywords: '',
		description: '',
		isSocialMetaTags: false,
	};

	const MENU = [
		{
			title: 'Главная',
			href: '/index.html',
			isInHeader: true,
			isInFooter: true,
			className: '',
		},
		{
			title: 'Карта сайта',
			href: '/contents.html',
			isInHeader: true,
			isInFooter: true,
			className: '',
		},
		{
			title: 'UI',
			href: '/ui.html',
			isInHeader: true,
			isInFooter: true,
			className: '',
		},
		{
			title: '404',
			href: '/page-404.html',
			isInHeader: true,
			isInFooter: false,
			className: '',
		},

	];

	function setDef(key, value) {
		DEFS[key] = value;
	}

	function setDefs(src) {
		Object.keys(src).forEach(function(key) { DEFS[key] = src[key]; });
	}
