mixin head(data = {})
	-
		// Globals: SITE_TITLE, DEFS

		const {
			pageTitle,
			description,
			keywords,
			isSocialMetaTags
		} = DEFS;



	meta(charset="utf-8")
	meta(http-equiv="x-ua-compatible" content="ie=edge")
	title!= pageTitle ? `${pageTitle} | ${SITE_TITLE}` : SITE_TITLE
	meta(content=description name="description")
	meta(content=keywords name="keywords")
	meta(name="viewport" content="width=device-width initial-scale=1.0")
	meta(content="telephone=no" name="format-detection")
	//- This make sence for mobile browsers. It means that content has been optimized for mobile browsers
	meta(name="HandheldFriendly" content="true")

	link(href="%=static=%css/main%=hash=%%=min=%.css" rel="stylesheet" type="text/css")

	if isSocialMetaTags
		meta(property="og:title" content=pageTitle)
		meta(property="og:url" content="")
		meta(property="og:description" content="")
		meta(property="og:image" content="")
		meta(property="og:image:type" content="image/jpeg")
		meta(property="og:image:width" content="500")
		meta(property="og:image:height" content="300")
		meta(property="twitter:description" content="")
		link(rel="image_src" href="")

	link(rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png")
	link(rel="icon" type="image/ico" sizes="16x16" href="/icons/favicon.ico")
	link(rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png")
	link(rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png")
	link(rel="manifest" href="/icons/site.webmanifest")
	link(rel="mask-icon" href="/icons/safari-pinned-tab.svg" color="#1c1d1d")
	meta(name="msapplication-TileColor" content="#1c1d1d")
	meta(name="theme-color" content="#1c1d1d")
	script.
		(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement)
	|<!--[if lt IE 9 ]><script src="%=static=%js/separate-js/html5shiv-3.7.2.min.js" type="text/javascript"></script><meta content="no" http-equiv="imagetoolbar"><![endif]-->
