include _head.pug
include _components.pug
include _constants.pug

block vars
	//- Global defaults in '/layout/_constants.pug'
	//-
	//-
	//- example
	//- -
	//-   DEFS.pageTitle = 'Главная';


doctype html
html.no-js(lang='ru')
	head
		block head
			+head()


	body
		|%=symbols=%

		.page(class=DEFS.pageClass)

			.page__header
				block header
					+header()

			main.page__content
				block content
					//- content here
					div hello

			//- +popup()
				block popup

			block footer
				.page__footer
					+footer()

		+debug()



		block prescript

		script(src='%=static=%js/separate-js/svg4everybody.min.js')
		script svg4everybody();

		//- Main scripts. You can replace it, but I recommend you to leave it here
		script(src='%=static=%js/separate-js/jquery.js')
		script(src='%=static=%js/vendor%=min=%.js')
		script(src='%=static=%js/main%=hash=%%=min=%.js')

		block script
